body {
    background-color: #6f8f90;
    color: white;  
}

h1{
    font-size: 33pt;
    text-align: center;
    font-family: Oswald;
}

h2{
    font-size: 22pt;
    font-family: Oswald;
    margin-left: 5px;
}

h3{
    font-size: 22pt;
    font-family: Oswald;
    margin-top: 15px;
    margin-left: 5px;
}

h4{
    font-family: Oswald;
    margin-top: 5px;
}

p{
    line-height: 1.5;
    margin-left: 10px;
}

img {
   border: 5px solid white;
   padding: 10px;
   margin: 20px;
   border-top-right-radius: 30px;
   margin-left: auto;
   margin-right: auto;

}

li{
    display: inline-block
    margin 50px;
}

figure{
    margin-left: 10px;
    align-items: center;
    align-self: center;
}

figcaption{
    margin-left: 10px;
    display:block;
    width: 500px;
}

ul{
    list-style: bullet;
}